
// colors
.text-red {
  color: #F44336;
}
.bg-red {
  background-color: #F44336;
}
.text-pink {
  color: #E91E63;
}
.bg-pink {
  background-color: #E91E63;
}
.text-purple {
  color: #9C27B0;
}
.bg-purple {
  background-color: #9C27B0;
}
.text-deep-purple {
  color: #673AB7;
}
.bg-deep-purple {
  background-color: #673AB7;
}
.text-indigo {
  color: #3F51B5;
}
.bg-indigo {
  background-color: #3F51B5;
}
.text-blue {
  color: #2196F3;
}
.bg-blue {
  background-color: #2196F3;
}
.text-light-blue {
  color: #03A9F4;
}
.bg-light-blue {
  background-color: #03A9F4;
}
.text-cyan {
  color: #00BCD4;
}
.bg-cyan {
  background-color: #00BCD4;
}
.text-teal {
  color: #009688;
}
.bg-teal {
  background-color: #009688;
}
.text-green {
  color: #4CAF50;
}
.bg-green {
  background-color: #4CAF50;
}
.text-light-green {
  color: #8BC34A;
}
.bg-light-green {
  background-color: #8BC34A;
}
.text-lime {
  color: #CDDC39;
}
.bg-lime {
  background-color: #CDDC39;
}
.text-yellow {
  color: #FFEB3B;
}
.bg-yellow {
  background-color: #FFEB3B;
}
.text-amber {
  color: #FFC107;
}
.bg-amber {
  background-color: #FFC107;
}
.text-orange {
  color: #FF9800;
}
.bg-orange {
  background-color: #FF9800;
}
.text-deep-orange {
  color: #FF5722;
}
.bg-deep-orange {
  background-color: #FF5722;
}
.text-brown {
  color: #795548;
}
.bg-brown {
  background-color: #795548;
}
.text-grey {
  color: #9E9E9E;
}
.bg-grey {
  background-color: #9E9E9E;
}
.text-blue-grey {
  color: #607D8B;
}
.bg-blue-grey {
  background-color: #607D8B;
}
